<h2>{{data.source}}</h2>


{{#each data.articles}}
<div>
	<div><h3><strong><a href = "{{url}}">{{title}}</a></strong></h3> <button class="add" type="button">+</button></div>
	<p>{{publishedAt}}</p>
	<img src = "{{urlToImage}}" />
	<p>{{description}}</p>
</div>
<br />
{{/ each}}